%h2 Genres

%canvas#processing

%table{:border => 1, :width => '100%'}
  %thead
    %tr
      %th Genre Name
      %th Collective Programming Level
  %tbody
    - for genre in @genres
      %tr.genre
        %td.name= link_to genre.name, genre_path(genre)
        %td.programming_skill= genre.descendant_programming_skill